body {
    background: #272727;
    font-family: 'VT323', monospace;
}

.board {
    display: inline-block;
    border-color: #b0b0b0;
    border-width: 5px;
    border-style: outset;
    width: 300px;
}

.block {
    display: inline-grid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 4px;
    border-style: outset;
    width: 30px;
    height: 30px;
}

.black {
    background: #1f1f1f;
    border-color: #272727;
}

.yellow {
    background: #fae100;
    border-color: #ffe600;
}

.red {
    background: #ca0b00;
    border-color: #f20b00;
}

.orange {
    background: #ce7000;
    border-color: #f28a00;
}

.purple {
    background: #780de3;
    border-color: #900dff;
}

.pink {
    background: #d6016a;
    border-color: #ff0181;
}

.blue {
    background: #32c1d6;
    border-color: #32dbf0;
}

.dark-blue {
    background: #0013d6;
    border-color: #0015ff;
}

.right-panel {
    display: inline-block;
    position: relative;
    bottom: 450px;
}

.next-block-panel {
    border-color: #b0b0b0;
    border-width: 5px;
    border-style: outset;
    width: 120px;
}

.next-lvl {
    width: 100%;
    background: #b0b0b0;
    color: #272727;
    font-size: 25px;
}

.points {
    width: 100%;
    background: #272727;
    color: #900DFF;
    font-size: 25px;
}

.container {
    width: 450px;
    margin: auto;
}